<!DOCTYPE html>
<html lang="en" <%- helmet.htmlAttributes.toString() %>>
  <head>
    <%- helmet.title.toString() %>
    <%- helmet.meta.toString() %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- css %>
    <%- helmet.link.toString() %>
  </head>
  <body <%- helmet.bodyAttributes.toString() %>>
    <div id="app"><%- content %></div>
    <script>
    window.__PRELOADED_STATE__ = <%- preloadedState %>
    </script>
  </body>
</html>
